

<div class="book-search">
  <div class="book-wrapper">

    <p><span>Book Name:</span> <%=@bookTitle%></p>
    <p><span>Author Name:</span> <%=@bookAuthor%></p>
    <p><span>Book ID:</span> <%=@bookID%></p>
    <p><span>Book ISBN:</span> <%=@bookISBN%></p>
    <img class='book-img' src=" <%=@bookImage%>" alt="">
  </div>

</div>
