

<div class="book-search">
  <h3 id='bookTitle'><%=@bookTitle%></h3>
  <div class="book-wrapper">

    <p><span>Author Name:</span> <%=@bookAuthor%></p>
    <p><span>Book ID:</span> <%=@bookID%></p>
    <p><span>Book ISBN:</span> <%=@bookISBN%></p>
    <p><span>Info:</span> <%=@bookISBN%></p>
  </div>

  <img class='book-img' src=" <%=@bookImage%>" alt="">
</div>
